@ft_pomp: Pompadur;
@ft_mic: Micra;
@ft_ital: italic;
@ft_verd: Verdana;
@cl_gold: #FFD700;
@cl_white: #FFFFFF;
@cl_black: #000000;
@bg_cl: #D7D7D7;
@cl_hondew:  RGB(240, 255, 240,0.5);
@cl_DSGray: #2F4F4F;
@reg_cl: #f0f0f0;
@nav_bord_cl: #20B2AA;
@reg_inp_cl:#2980b9;
@reg_bord_cl:#20B2AA;
@adv_cl: #5F9EA0;
@sub_cl:#373737;
@cont_bg_cl:#f1f1f1;
@cont_bord_cl:#dedede;
@ch_bord_cl: #ccc;
@ch_bg_cl: #ddd;
@ch_time1_cl: #aaa;
@ch_time2_cl: #999;
@adv_tcl: #000000; 
@check_loop:10;
.loop(@i) when (@i > 0) {
  .loop((@i - 1));   
  width: (10px * @i); 
}
.when(@a) when (@adv_tcl = #FFFFFF) {
  color: @cl_white;
}

.when(@a) when (@adv_tcl = #000000) {
  color: @cl_black;
}

.di{
	flex-direction: column;
	justify-content: space-around;
	text-transform: uppercase;
	font-family: @ft_mic;
	font-size: 40px;
	padding-left: 8.5%;
	padding-right: 8.5%;}
h1 {
	font-family: @ft_pomp, cursive;
}
a{
text-decoration: none;
color:@cl_gold;}
#di {
	p {
		a {
			&:hover {
				font-size: 40px;
				color: @cl_white;
				font-family:@ft_pomp;
			}
		}
	}
	.di
}

#game {
	&:hover {
		font-size: 20px;
		color: @cl_white;
		font-style: @ft_ital;
		font-family: @ft_pomp;
	}
	&:visited{
		color: @cl_white;
		font-size: 15px;
	}
}

body {
background-image:url(head.gif);
background-repeat: repeat-x;
background-color:@bg_cl;
margin-right:0;
margin-left:0;
}
#gam{
font-size:20px;
float:left;

}

.menu {
	li {
		list-style: none;
		margin: 0;
		&:hover {
			ul {
				transform: scaleY(1);
			}
			span {
				color: @cl_black;;
			}
		}
	}
	ul {
		min-width: 60px;
		transform: scaleY(0);
		transform-origin: 0 0;
		transition: .4s ease-in-out;
		list-style: none;
		padding: 0;
		margin-left: 6%;
		position: absolute;
		background-color: @cl_black;
		font-size: 15px;
		clear: both;
		text-align: left;
	}
	color:@cl_white;
	font-family:@ft_pomp;
	font-size:20px;	
}

#menu_cont{
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	float:right; 
	width:100%;
	font-family:@ft_pomp;
	font-size:20px;
	text-align:center;
	a {
		color:@cl_white;
	}
}

.fa {fa-angle-down{
		&:after {
			content:"\f107"
	}
	}
}


.nav{min-width:200px;
width:18%;
}

#match{
	position:relative; 
	top:10px;
	float:right;
	z-index:2;
	width:40%;
	min-width:500px;
}
#matchbg{
	width:60%;
	padding-left:8%;
	padding-right:2%;
	height:100%;
	min-width:450px;
	background-color:@cl_hondew;
	padding:3%;
}
.cont{
	background-color: @cl_DSGray;
	border-radius:5px;
	text-align:center;
	min-height:100px;
	min-width:400px;
	z-index:2;
	color:@cl_white;
}
#ghead{
	text-align:center;
	font-family:@ft_pomp;
	font-size:30px;
	font-weight: bold;
}

#Reg{
background-color: @reg_cl;
width:26%; 
min-width:350px;
z-index:3;
position:fixed;
max-height:100%;
display: none;
margin-left:37%;
float:left;
border: 3px solid @reg_bord_cl;
padding-left:10px;
text-align:center;
padding-top:20px;
font: 14px @ft_verd;
padding-bottom:10px;
}

.table{
	display:table;
	left:15%;
	right:15%;
	padding-top:20px;
	position: relative;
}
.sell{
	display: table-cell;
	padding-bottom:5px;
	
}
.row { 
	input {
		color:@reg_inp_cl;
	}
	textarea{
	color:@reg_inp_cl;
	}
}
#low{
	text-align: center;
 	background-color: @reg_cl; 
	width:26%; 
	float:right; 
    z-index:3;
	position:fixed;
	max-height:100%;
	display: none;
	margin-left:37%;
	border: 3px solid @reg_inp_cl;
	text-align:center;
	padding-top:20px;
	font: 14px @ft_verd;
	padding-bottom:10px;
	min-width:350px;
}
#conteiner{
    font: 20px @ft_verd;
	color:white;
	min-width:175px;
}
#reg{
	background-color: @reg_bord_cl;
	border-radius:5px;
	display:inline-block;
	&:hover{
	background-color:@cl_black;
	}
}

#log{
	&:hover{
		background-color:@cl_black;
	}
	background-color: @reg_bord_cl;
	border-radius:5px;
	display:inline-block;
}
#absolute{
float:right;
width:100%;
background-color:@adv_cl;
text-align:center;
height:200px;
padding-top:70px;
.loop(@check_loop);
}
#submenu { 
	float:right;
	display:block;  
	width: 10%;
	min-width:120px;
	background: @sub_cl;
	color:white;
	vertical-align: baseline;
	height:100%;
	margin-top:1px;	
	a{
		color:@cl_white;
	}
} 
#stream{
	position:relative;
	top:10px;
	float:right;
	width:40%;
	padding-left:8%;
	padding-right:2%;
	height:100%;
	min-width:500px;
	textarea{
		width:100%;
	}
	video{
		width:100%;
		height:50%;
	}
}

#streambg{
	width:60%;
	padding-left:8%;
	padding-right:2%;
	height:100%;
	min-width:450px;
	background-color: @cl_hondew;
	padding:3%;
}
.red{
	
	text-align:center;
	font-family:@ft_pomp;
	font-size:30px;
	font-weight: bold;
	
}

.darker {
    border-color: @ch_bord_cl;
    background-color: @ch_bg_cl;
}

.container {
    border: 2px solid @cont_bord_cl;
    background-color: @cont_bg_cl;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
	&::after {
		content: "";
		clear: both;
		display: table;
	}
	img {
		float: left;
		max-width: 60px;
		width: 100%;
		margin-right: 20px;
		border-radius: 50%;
		.right{ 
			float: right;
			margin-left: 20px;
			margin-right:0;
		}	
	}
}

.time-right {
    float: right;
    color: @ch_time1_cl;
}


.time-left {
    float: left;
    color: @ch_time2_cl;
} 
#main{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
#subnav p{
	padding-left:15px;
	&:hover {
		border-radius: 5px;
		background-color: @nav_bord_cl;
	}
}


#faqs{width:100%;
}
#faqsbg {
	font-family:@ft_pomp;
	font-size:40px;
	text-shadow:2px 2px 2px SteelBlue;
	padding-left:100px;
	#video {
		display:none;
	}
	h1 { 
		font-weight:bolder;

	}
}

