.di {
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: Micra;
  font-size: 40px;
  padding-left: 8.5%;
  padding-right: 8.5%;
}
h1 {
  font-family: Pompadur, cursive;
}
a {
  text-decoration: none;
  color: #FFD700;
}
#di {
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: Micra;
  font-size: 40px;
  padding-left: 8.5%;
  padding-right: 8.5%;
}
#di p a:hover {
  font-size: 40px;
  color: #FFFFFF;
  font-family: Pompadur;
}
#game:hover {
  font-size: 20px;
  color: #FFFFFF;
  font-style: italic;
  font-family: Pompadur;
}
#game:visited {
  color: #FFFFFF;
  font-size: 15px;
}
body {
  background-image: url(head.gif);
  background-repeat: repeat-x;
  background-color: #D7D7D7;
  margin-right: 0;
  margin-left: 0;
}
#gam {
  font-size: 20px;
  float: left;
}
.menu {
  color: #FFFFFF;
  font-family: Pompadur;
  font-size: 20px;
}
.menu li {
  list-style: none;
  margin: 0;
}
.menu li:hover ul {
  transform: scaleY(1);
}
.menu li:hover span {
  color: #000000;
}
.menu ul {
  min-width: 60px;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.4s ease-in-out;
  list-style: none;
  padding: 0;
  margin-left: 6%;
  position: absolute;
  background-color: #000000;
  font-size: 15px;
  clear: both;
  text-align: left;
}
#menu_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  width: 100%;
  font-family: Pompadur;
  font-size: 20px;
  text-align: center;
}
#menu_cont a {
  color: #FFFFFF;
}
.fa fa-angle-down:after {
  content: "\f107";
}
.nav {
  min-width: 200px;
  width: 18%;
}
#match {
  position: relative;
  top: 10px;
  float: right;
  z-index: 2;
  width: 40%;
  min-width: 500px;
}
#matchbg {
  width: 60%;
  padding-left: 8%;
  padding-right: 2%;
  height: 100%;
  min-width: 450px;
  background-color: #f0fff0;
  padding: 3%;
}
.cont {
  background-color: #2F4F4F;
  border-radius: 5px;
  text-align: center;
  min-height: 100px;
  min-width: 400px;
  z-index: 2;
  color: #FFFFFF;
}
#ghead {
  text-align: center;
  font-family: Pompadur;
  font-size: 30px;
  font-weight: bold;
}
#Reg {
  background-color: #f0f0f0;
  width: 26%;
  min-width: 350px;
  z-index: 3;
  position: fixed;
  max-height: 100%;
  display: none;
  margin-left: 37%;
  float: left;
  border: 3px solid #20B2AA;
  padding-left: 10px;
  text-align: center;
  padding-top: 20px;
  font: 14px Verdana;
  padding-bottom: 10px;
}
.table {
  display: table;
  left: 15%;
  right: 15%;
  padding-top: 20px;
  position: relative;
}
.sell {
  display: table-cell;
  padding-bottom: 5px;
}
.row input {
  color: #2980b9;
}
.row textarea {
  color: #2980b9;
}
#low {
  background-color: #f0f0f0;
  width: 26%;
  float: right;
  z-index: 3;
  position: fixed;
  max-height: 100%;
  display: none;
  margin-left: 37%;
  border: 3px solid #2980b9;
  text-align: center;
  padding-top: 20px;
  font: 14px Verdana;
  padding-bottom: 10px;
  min-width: 350px;
}
#conteiner {
  font: 20px Verdana;
  color: white;
  min-width: 175px;
}
#reg {
  background-color: #20B2AA;
  border-radius: 5px;
  display: inline-block;
}
#reg:hover {
  background-color: #000000;
}
#log {
  background-color: #20B2AA;
  border-radius: 5px;
  display: inline-block;
}
#log:hover {
  background-color: #000000;
}
#absolute {
  float: right;
  width: 100%;
  background-color: #5F9EA0;
  text-align: center;
  height: 200px;
  padding-top: 70px;
  width: 10px;
  width: 20px;
  width: 30px;
  width: 40px;
  width: 50px;
  width: 60px;
  width: 70px;
  width: 80px;
  width: 90px;
  width: 100px;
}
#submenu {
  float: right;
  display: block;
  width: 10%;
  min-width: 120px;
  background: #373737;
  color: white;
  vertical-align: baseline;
  height: 100%;
  margin-top: 1px;
}
#submenu a {
  color: #FFFFFF;
}
#stream {
  position: relative;
  top: 10px;
  float: right;
  width: 40%;
  padding-left: 8%;
  padding-right: 2%;
  height: 100%;
  min-width: 500px;
}
#stream textarea {
  width: 100%;
}
#stream video {
  width: 100%;
  height: 50%;
}
#streambg {
  width: 60%;
  padding-left: 8%;
  padding-right: 2%;
  height: 100%;
  min-width: 450px;
  background-color: #f0fff0;
  padding: 3%;
}
.red {
  text-align: center;
  font-family: Pompadur;
  font-size: 30px;
  font-weight: bold;
}
.darker {
  border-color: #ccc;
  background-color: #ddd;
}
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.container::after {
  content: "";
  clear: both;
  display: table;
}
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}
.container img .right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.time-right {
  float: right;
  color: #aaa;
}
.time-left {
  float: left;
  color: #999;
}
#main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#subnav p {
  padding-left: 15px;
}
#subnav p:hover {
  border-radius: 5px;
  background-color: #20B2AA;
}
#faqs {
  width: 100%;
}
#faqsbg {
  font-family: Pompadur;
  font-size: 40px;
  text-shadow: 2px 2px 2px SteelBlue;
  padding-left: 100px;
}
#faqsbg #video {
  display: none;
}
#faqsbg h1 {
  font-weight: bolder;
}
